---
# From repository
# - name: Add Calico chart repo
#   kubernetes.core.helm_repository:
#     name: projectcalico
#     repo_url: "https://docs.tigera.io/calico/charts"
#     repo_state: present

# - name: Deploy latest version of Calico chart inside tigera-operator namespace (and create it)
#   kubernetes.core.helm:
#     name: calico
#     chart_ref: projectcalico/tigera-operator
#     release_namespace: tigera-operator
#     create_namespace: true
#     wait: true

- name: Apply Calico CNI
  shell: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/master/manifests/calico.yaml

# - name: Apply Calico for policy and flannel (aka Canal) for networking
#   shell: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.24.0/manifests/canal.yaml



# - name: Download custom-resources manifest to the cluster.
#   ansible.builtin.get_url:
#     url: https://raw.githubusercontent.com/projectcalico/calico/v3.25.1/manifests/custom-resources.yaml
#     dest: ~/custom-resources.yaml
#     mode: '0664'

# - name: Download metrics-server manifest to the cluster.
#   ansible.builtin.get_url:
#     url: https://raw.githubusercontent.com/projectcalico/calico/v3.25.1/manifests/tigera-operator.yaml
#     dest: ~/tigera-operator.yaml
#     mode: '0664'

# - name: Apply tigera-operator manifest to the cluster.
#   shell: kubectl create -f ~/tigera-operator.yaml


# - name: Make sure pod_cidr is in custom-resources
#   ansible.builtin.replace:
#     path: ~/custom-resources.yaml
#     regexp: '(\s+)cidr: 192\.168\.0\.0/16(\s+.*)?$'
#     line: '\1cidr: {{ kubernetes_pod_subnet }}'
    
# - name: Apply custom-resources to the cluster.
#   shell: kubectl create -f ~/custom-resources.yaml

