---

- name: Reset kubernetes cluster
  ansible.builtin.shell: kubeadm reset -f
  ignore_errors: true

- name: Check cluster status
  ansible.builtin.shell: kubectl get nodes
  ignore_errors: true
  register: cluster_exist

- set_fact:
    kubernetes_init: "{% if kubernetes_init_host is defined and  kubernetes_init_host == inventory_hostname %}yes{% else %}no{% endif %}"

# - set_fact:
#     kubernetes_ip_address: "{{ ansible.utils.ipaddr() }}"

- set_fact:
    kubernetes_ip_address: "{{ inventory_hostname }}"

- set_fact:
    kubernetes_image_repository: "registry.k8s.io"

# - name: Debug 
#   ansible.builtin.debug:
#     msg: 
#       - inventory_hostname = {{ inventory_hostname }}
#       - cluster_exist = {{ cluster_exist }}
#       - kubernetes_init = {{ kubernetes_init }}
#       - kubernetes_ip_address = {{ kubernetes_ip_address }}
#       - kubernetes_image_repository = {{ kubernetes_image_repository }}
#       - ansible_facts.interfaces {{ ansible_facts.interfaces }}

- block:
    - set_fact:
        kubernetes_iface: "{{ item }}"
      when: item == "ens3"
      with_items: "{{ ansible_facts.interfaces }}"
    
    - set_fact:
        apiserver_sans: "{{ (sans_base + [kubernetes_ip_address] ) | unique }}"

    - name: render kubeadm-init.yml
      ansible.builtin.template:
        src: kubeadm-init.yml.j2
        dest: /root/kubeadm-init.yml

    - set_fact:
        kubeadm_extra_args: "--upload-certs"


    - name: Init kubernetes cluster
      ansible.builtin.shell: kubeadm init -v=5 --config /root/kubeadm-init.yml {{ kubeadm_extra_args }} > /root/kubeinit.log

    
    - name: Create ~/.kube directory
      ansible.builtin.file: 
        name: ~/.kube
        state: directory
    
    - name: Copy .kube/config file
      ansible.builtin.copy: 
        src: /etc/kubernetes/admin.conf
        dest: ~/.kube/config
        remote_src: yes
        mode: 600

    - include_tasks: 
        file: cni-install.yml

  when: 
    - kubernetes_init
    - cluster_exist.rc == 1
  ignore_errors: "{{ ansible_check_mode }}"