---
# defaults file for roles/kubernetes

disable_firewall: no

kubernetes_version: 1.25.0
hold_kube_version: false
kubernetes_cri: containerd
kubernetes_cni: flannel
kubernetes_dns_domain: cluster.local
kubernetes_pod_subnet: 10.244.0.0/16
kubernetes_service_subnet: 10.96.0.0/12
kubernetes_api_port: 6443


sans_base:
  - "kubernetes"
  - "kubernetes.default"
  - "kubernetes.default.svc"
  - "kubernetes.default.svc.{{ kubernetes_dns_domain }}"
  - "localhost"
  - "127.0.0.1"

cri_socket_path: unix:///run/containerd/containerd.sock

cni_plugins_url: https://github.com/containernetworking/plugins/releases/download/v1.2.0/cni-plugins-linux-amd64-v1.2.0.tgz
cni_plugins_archive: cni-plugins-linux-amd64-v1.2.0.tgz

helm_version: 'v3.11.3'
helm_platform: linux
helm_arch: amd64

helm_repo_path: "https://get.helm.sh"

helm_bin_path: /usr/local/bin/helm