---
# tasks file for docker_registry

- name: Check cluster status
  ansible.builtin.shell: kubectl get nodes
  ignore_errors: true
  register: cluster_exist

- debug:
    msg: 
      - "{{ cluster_exist.rc }}"

- block:

  - include_tasks:
      file: create-upload-certs.yml

  - name: Create /tmp/charts directory
    ansible.builtin.file: 
      name: /tmp/charts
      state: directory

  - name: Synchronization of charts/my-registry on the control machine to dest on the remote hosts
    ansible.posix.synchronize:
      src: ./charts/my-registry
      dest: /tmp/charts/

  - name: Upgrade docker_registry with helm
    shell: helm upgrade --install --wait --atomic -n docker-registry --create-namespace docker-registry /tmp/charts/my-registry

  when: 
    - cluster_exist.rc == 0
  ignore_errors: "{{ ansible_check_mode }}"
